<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>

</head>

<body>
    {{ content }}

    <footer class="site-footer">
        <div class="uk-container uk-container-center uk-text-center">
            <a href="#" data-uk-smooth-scroll><img width="55" src="/img/branding/myriacode-logo-mono.svg" alt="MyriaCode" /></a>
            <p class="uk-margin-bottom-remove">Copyright &copy; 2018 MyriaCode</p>
        </div>
    </footer>
</body>
</html>